# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
.Rproj.user
docs/references/Brown_Peterson_A Standardized Terminology for Describing Reproductive Development in Fishes.pdf
docs/references/Grier.etal.2018_OocyteDevelopmentStaging.pdf
docs/references/Grier_etal_2008--Chapt2_TheOvaryFolliculogenesis_Oogenesis.pdf
docs/references/McMillan_2007--Chapt2_OvarianFollicles .pdf
docs/references/N American J Fish Manag - 2022 - Arthur - Alaskan Yelloweye Rockfish Fecundity Revealed through an Automated Egg Count and.pdf
docs/references/Nakamura_Sex chnage in coral reef fish.pdf
docs/references/Proceedings_of_the_4th_Workshop_on_Gonadal_Histology_of_Fishes.pdf
docs/references/Sadovy_Criteria for the Diagnosis of Hermaphroditism in Fishes.pdf
docs/references/Schemmel_Cephalopholis_argus.pdf
docs/references/Schemmel_participatoryfisherymonitoringissuccessfulforunderstandingthereproductivebiologyforlocalfisheriesmanagement.pdf
docs/references/Schulz_Spermatogenesis in fish.pdf
docs/references/Thorsen_fecundity.pdf
docs/references/Wallace_Selman_oocyte development.pdf
